# Test pandas_cub manually

In this notebook, we will test pandas_cub manually.

In [1]:
import sys
sys.executable

'C:\\Users\\r2d4\\miniconda3\\envs\\py3\\python.exe'

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import numpy as np
import pandas_cub as pdc
import pandas_cub_final as pdcf
import pandas as pd

In [4]:
name = np.array(['Penelope', 'Niko', 'Eleni'])
state = np.array(['Texas', 'California', 'Texas'])
height = np.array([3.6, 3.5, 5.2])
school = np.array([True, False, True])
weight = np.array([45, 40, 130])

data = {'name': name, 'state': state, 'height': height, 
        'school': school, 'weight': weight}

df = pdc.DataFrame(data)
df_final = pdcf.DataFrame(data)
df_pandas = pd.DataFrame(data)

In [5]:
df

In [6]:
df_final

In [7]:
df_pandas

       name       state  height  school  weight
0  Penelope       Texas     3.6    True      45
1      Niko  California     3.5   False      40
2     Eleni       Texas     5.2    True     130

In [12]:
list(data.values())[0]

array(['Penelope', 'Niko', 'Eleni'], dtype='<U8')

In [14]:
%timeit len(list(data.values())[0])

489 ns ± 27.6 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [18]:
%timeit len(next(iter(data.values())))

231 ns ± 7.62 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)